<style>
    table.nutrition_table {
        display: inline-block;
    }

    table.nutrition_table tr {
        border: 1px solid black;
    }

    table.nutrition_table td, table.nutrition_table th {
        padding: 0px 10px;
    }

    table.nutrition_table tr.separator {
        height: 4px;
        background-color: black;
    }

    table.nutrition_table td.indent-1 {
        padding-left: 25px;
    }
 </style>
<table class="nutrition_table text-left">
    <tbody>
        <tr>
            <td colspan="3"><h4>Nutrition Facts</h4></td>
        </tr>
        <tr class="separator"><td colspan="3"></td></tr>
        <tr class="separator"><td colspan="3"></td></tr>
        <tr>
            <th>Amount per</th>
            <th class="text-right">100g</th>
            <td class="text-right">% DV</td>
        </tr>
        <tr>
            <th>Calories: </th>
            <td class="text-right">{{ ingredient.calories|number_format }}kcal</td>
            <td class="text-right">{{ (ingredient.calories / dav.calories * 100) | number_format(0) }}%</td>
        </tr>
        <tr class="separator"><td colspan="3"></td></tr>
        <tr>
            <th>Macronutrients</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Water:</th>
            <td class="text-right">{{ ingredient.water }}g</td>
            <th class="text-right"></th>
        </tr>
        <tr>
            <th>Alcohol:</th>
            <td class="text-right">{{ ingredient.alcohol }}g</td>
            <th class="text-right"></th>
        </tr>
        <tr>
            <th>Total Fat:</th>
            <td class="text-right">{{ ingredient.fat }}g</td>
            <th class="text-right">{{ (ingredient.fat / dav.fat * 100) | number_format(0) }}%</th>
        </tr>
        <tr>
            <td class="indent-1">Saturated Fat:</td>
            <td class="text-right">{{ ingredient.fattyAcidsSaturated }}g</td>
            <th class="text-right">{{ (ingredient.fattyAcidsSaturated / dav.fattyAcidsSaturated * 100) | number_format(0) }}%</th>
        </tr>
        <tr>
            <td class="indent-1">Mono-Saturated Fat:</td>
            <td class="text-right">{{ ingredient.fattyAcidsMono }}g</td>
            <th class="text-right"></th>
        </tr>
        <tr>
            <td class="indent-1">Poly-Saturated Fat:</td>
            <td class="text-right">{{ ingredient.fattyAcidsPoly }}g</td>
            <th class="text-right"></th>
        </tr>
        <tr>
            <td class="indent-1">Cholesterol:</td>
            <td class="text-right">{{ ingredient.cholesterol }}mg</td>
            <th class="text-right">{{ (ingredient.cholesterol / dav.cholesterol * 100) | number_format(0) }}%</th>
        </tr>
        <tr>
            <th>Sodium:</th>
            <td class="text-right">{{ ingredient.sodium }}mg</td>
            <th class="text-right">{{ (ingredient.sodium / dav.sodium * 100) | number_format(0) }}%</th>
        </tr>
        <tr>
            <th>Total Carbohydrate:</th>
            <td class="text-right">{{ ingredient.carbs }}g</td>
            <th class="text-right">{{ (ingredient.carbs / dav.carbs * 100) | number_format(0) }}%</th>
        </tr>
        <tr>
            <td class="indent-1">Sugars:</td>
            <td class="text-right">{{ ingredient.sugars }}g</td>
            <td class="text-right"></td>
        </tr>
        <tr>
            <td class="indent-1">Starch:</td>
            <td class="text-right">{{ ingredient.starch }}g</td>
            <td class="text-right"></td>
        </tr>
        <tr>
            <th>Dietary Fibers:</th>
            <td class="text-right">{{ ingredient.dietaryFibres }}g</td>
            <th class="text-right">{{ (ingredient.dietaryFibres / dav.dietaryFibres * 100) | number_format(0) }}%</th>
        </tr>
        <tr>
            <th>Protein:</th>
            <td class="text-right">{{ ingredient.protein }}g</td>
            <th class="text-right">{{ (ingredient.protein / dav.protein * 100) | number_format(0) }}%</th>
        </tr>
        <tr class="separator"><td colspan="3"></td></tr>
        <tr>
            <th>Vitamins</th>
            <td></td>
            <td class="text-right">% DV</td>
        </tr>
        <tr>
            <td class="indent-1">Vitamin A:</td>
            <td class="text-right">{{ ingredient.vitaminA }}&mu;g</td>
            <td class="text-right">{{ (ingredient.vitaminA / dav.vitaminA * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <td class="indent-1">Vitamin B1:</td>
            <td class="text-right">{{ ingredient.vitaminB1 }}mg</td>
            <td class="text-right"></td>
        </tr>
        <tr>
            <td class="indent-1">Vitamin B2:</td>
            <td class="text-right">{{ ingredient.vitaminB2 }}mg</td>
            <td class="text-right"></td>
        </tr>
        <tr>
            <td class="indent-1">Vitamin B6:</td>
            <td class="text-right">{{ ingredient.vitaminB6 }}mg</td>
            <td class="text-right">{{ (ingredient.vitaminB6 / dav.vitaminB6 * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <td class="indent-1">Vitamin B12:</td>
            <td class="text-right">{{ ingredient.vitaminB12 }}&mu;g</td>
            <td class="text-right">{{ (ingredient.vitaminB12 / dav.vitaminB12 * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <td class="indent-1">Vitamin C:</td>
            <td class="text-right">{{ ingredient.vitaminC }}mg</td>
            <td class="text-right">{{ (ingredient.vitaminC / dav.vitaminC * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <td class="indent-1">Vitamin D:</td>
            <td class="text-right">{{ ingredient.vitaminD }}&mu;g</td>
            <td class="text-right">{{ (ingredient.vitaminD / dav.vitaminD * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <td class="indent-1">Vitamin E:</td>
            <td class="text-right">{{ ingredient.vitaminE }}mg</td>
            <td class="text-right">{{ (ingredient.vitaminE / dav.vitaminE * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <th>Retinol Equivalent:</th>
            <td class="text-right">{{ ingredient.retinolEquiv }}&mu;g</td>
            <td class="text-right"></td>
        </tr>
        <tr>
            <th>&beta;-Carotene:</th>
            <td class="text-right">{{ ingredient.betaCarotene }}&mu;g</td>
            <td class="text-right"></td>
        </tr>
        <tr>
            <th>Niacin:</th>
            <td class="text-right">{{ ingredient.niacin }}mg</td>
            <td class="text-right">{{ (ingredient.niacin / dav.niacin * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <th>Folate:</th>
            <td class="text-right">{{ ingredient.folate }}&mu;g</td>
            <td class="text-right">{{ (ingredient.folate / dav.folate * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <th>Pantothenic Acid:</th>
            <td class="text-right">{{ ingredient.pantothenicAcid }}&mu;g</td>
            <td class="text-right">{{ (ingredient.pantothenicAcid / dav.pantothenicAcid * 100) | number_format(0) }}%</td>
        </tr>
        <tr class="separator"><td colspan="3"></td></tr>
        <tr>
            <th>Minerals</th>
            <td></td>
            <td class="text-right">% DV</td>
        </tr>
        <tr>
            <td class="indent-1">Sodium:</td>
            <td class="text-right">{{ ingredient.sodium }}mg</td>
            <td class="text-right">{{ (ingredient.sodium / dav.sodium * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <td class="indent-1">Potassium:</td>
            <td class="text-right">{{ ingredient.potassium }}mg</td>
            <td class="text-right">{{ (ingredient.potassium / dav.potassium * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <td class="indent-1">Chloride:</td>
            <td class="text-right">{{ ingredient.chloride }}mg</td>
            <td class="text-right">{{ (ingredient.chloride / dav.chloride * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <td class="indent-1">Calcium:</td>
            <td class="text-right">{{ ingredient.calcium }}mg</td>
            <td class="text-right">{{ (ingredient.calcium / dav.calcium * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <td class="indent-1">Magnesium:</td>
            <td class="text-right">{{ ingredient.magnesium }}mg</td>
            <td class="text-right">{{ (ingredient.magnesium / dav.magnesium * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <td class="indent-1">Posphorous:</td>
            <td class="text-right">{{ ingredient.phosphorous }}mg</td>
            <td class="text-right">{{ (ingredient.phosphorous / dav.phosphorus * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <td class="indent-1">Iron:</td>
            <td class="text-right">{{ ingredient.iron }}mg</td>
            <td class="text-right">{{ (ingredient.iron / dav.iron * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <td class="indent-1">Iodine:</td>
            <td class="text-right">{{ ingredient.iodine }}&mu;g</td>
            <td class="text-right">{{ (ingredient.iodine / dav.iodine * 100) | number_format(0) }}%</td>
        </tr>
        <tr>
            <td class="indent-1">Zinc:</td>
            <td class="text-right">{{ ingredient.zinc }}mg</td>
            <td class="text-right">{{ (ingredient.zinc / dav.zinc * 100) | number_format(0) }}%</td>
        </tr>
        <tr class="separator"><td colspan="3"></td></tr>
        <tr class="separator"><td colspan="3"></td></tr>
    </tbody>
</table>