{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">{{ day.date|date('l, Y-m-d') }}</h1>
    <br>
    <button class="btn btn-success" data-toggle="modal" data-target="#js-add-ingredient-modal">Add Ingredient</button>
    <br>
    <br>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Calories</th>
            <th class="text-right">Carbs</th>
            <th class="text-right">Fat</th>
            <th class="text-right">Protein</th>
            <th></th>
        </tr>
        {% for pdingredient in day.planDayIngredients %}
            <tr class="entries">
                <td>{{ pdingredient.ingredient.name }}</td>
                <td class="text-right">{{ pdingredient.amount }}g</td>
                <td class="text-right">{{ pdingredient.ingredient.calories * pdingredient.amount / 100 }}kcal</td>
                <td class="text-right">{{ pdingredient.ingredient.carbs * pdingredient.amount / 100 }}g</td>
                <td class="text-right">{{ pdingredient.ingredient.fat * pdingredient.amount / 100 }}g</td>
                <td class="text-right">{{ pdingredient.ingredient.protein * pdingredient.amount / 100 }}g</td>
                <td class="text-right">
                    <a class="btn btn-danger" href="{{ path('plan_ingredient_delete', {id: pdingredient.id}) }}">Remove</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th>Total</th>
            <th></th>
            <th class="text-right">{{ sum.calories }}kcal</th>
            <th class="text-right">{{ sum.carbs }}g</th>
            <th class="text-right">{{ sum.fat }}g</th>
            <th class="text-right">{{ sum.protein }}g</th>
            <th></th>
        </tr>
    </table>

    <div id="js-add-ingredient-modal" class="modal fade" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(addForm) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="modalLabel">Add Ingredient</h4>
                </div>
                <div class="modal-body">
                    {{ form_widget(addForm) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                {{ form_end(addForm) }}
            </div>
        </div>
    </div>

    <style>
        .modal-content span.select2-container {
            display: block;
            width: 100% !important;
        }
    </style>

    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endblock %}